@media all and ( min-width: 1400px ) {  
    .p1-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 15vh;
        /* border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: gray; */
    }
    .p1-title h1{
        font-size: 10em;
        text-shadow: gray;
    }
    .content{
        width: 100%;
        min-height: calc(93.5vh - 58px);
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
    }
    .leftDiv{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        }
    #portrait{
        display: inline-block;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    #left-img{
        display: flex;
        justify-content: center;
    }
    #left-text{
        margin-top: 12px;
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .left-title{
        margin-left: 5vw;
        display: flex;
        width: 50vw
    }
    .left-title img{
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
    .rightDiv{
        width: 45vw;
        padding-left: 3vw;
        margin-top: 4%;
        padding-right: 3vw;
    }
    .right-title{
        display: flex;
        width: 50vw
    }
    .right-title img{
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
    .right-title2{
        display: flex;
        width: 50vw;
        padding-bottom: 2vh;
    }
    .right-title2 img{
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
    #right-li{
        padding-top: 0.2vh;
        list-style-type: none;
        font-size: 3rem;    
        margin-left: 3vw;
    }
    .social{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin-bottom: 5vh;
    }
    .social img{
        margin-top: 10vh;
        width: 100px;
        height: 100px;
    }
    #box0{
        transition: all .35s;
        background-color: whitesmoke;
    }
    .content > .box{
        display: flex;
        color:black;
        font-size:10pt; 
    }
    .language{
        height: 300px;
        width: 30vw;
        padding: 0.5em 0;
        position: sticky;
        top: 0;       
    }
    .language_content{
        background: rgb(113,131,201); 
        background: linear-gradient(90deg, rgba(113,131,201,1) 0%, rgba(100,11,162,1) 100%);
        color: #fff;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        list-style: none;
    }
    .language li{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1vh;
    }
}
    .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0);
        font-size: 12px;
        margin: 8px 0px;
    }
    .hr-sect::before{
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 20px;
    }
    .hr-sect::after {
        content: "";
        flex-grow: 3;
        background: rgba(0, 0, 0);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 20px;
    }
    .left-title {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0);
        font-size: 12px;
        margin: 8px 0px;
    }
    .left-title::before{
        content: "";
        flex-grow: 1;
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 20px;
    }
    .left-title::after {
        content: "";
        flex-grow: 7;
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 20px;
    }