@media all and ( min-width: 1400px ) {
    html,body{ 
        margin:0; 
        padding:0; 
        width:100vw; 
        height:100vh; 
        position:relative;
        }
    input[id="menuicon"]{
        display: none;
    }
    input[id="menuicon"] + label{
        display: none;
        position: fixed;
        left: 30%;
        width: 40px; 
        height:20px;
        top:calc(5% - 25px);
        transition: all .35s;
        cursor: pointer;
    }
    input[id=menuicon]:checked +label{
        z-index: 700;
        right: 300px;
    }
    input[id="menuicon"] + label img{
        position:absolute;
        border-radius: 15px;
        transition: all .35s;
        z-index: 600;
        top: 0%;
        left: 0%;
        padding: 0%;
        width: 30px;
        height: 30px;
        background-color: gray;
        filter: invert(100%);
    }
    .siddebar{
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: gray;
        position: fixed;    
        left: 0%;
        top: 0%;
        transition: all .35s;
    }
    .siddebar h3{
        text-align: center;
        margin-top: 6vh;
    }
    .navbar > .midnav > .navTag{
        display: flex; 
        flex-direction: column;
        background: #ffffff;
        font-size: 0;
        float: left;
        color: gray;
        border-radius: 2px 2px 2px 2px;
        list-style-type: none;
        margin:0 0 0 0;
        padding-top: 4vh;
        height: 95vh;
        width: 15vw;
        z-index: 2000;
    }
    .navbar > .midnav > .navTag li{
        font-family: Roboto,sans-serif;
        padding: 1.7rem;
        float: left;
        text-align: left;
        border: 0;
        cursor: pointer;
        font-size: 24px;
        z-index: 3000;
    }
    .navbar > .midnav > .navTag li a{
        text-decoration:none;
        color:gray;
        font-style: inherit;
    }
    #menuicon:checked + label + div{
        left: 0%;
    }
    .navbar > .midnav > .navTag > li > a:hover{
        color:red;
        font-style: inherit;
    }
    .midnav > u{
        margin: 0;
        padding: 0;
        padding-left: 0;
    }
    .footer{
        margin: 0;
        padding:0;
        background-color: rgb(204, 204, 204);
        text-align: center;
        height: 5vh;
    }
    ::-webkit-scrollbar {
        display: none;
      } 
      a{
          text-decoration: none;
      }
}