doctype html
html
head
    script(type='text/javascript').
        var logout = document.getElementById("logoutBtn");


body
    h1 homepage
    form(method='post' action='/auth/logout')
        button#logoutBtn(type='submit') LogOut