doctype html
html
head
    script(type='text/javascript').
        var logout = document.getElementById("logoutBtn");


body
    h1 homepage
    form(action="/auth/logout" method="post")
      button(type="submit") logout