doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Document
  link(rel='stylesheet' type='text/css' href='./style/main.css')
  link(rel='stylesheet' type='text/css' href='./style/mainAnimation.css')
  link(rel='stylesheet' type='text/css' href='./style/mediaQuery.css')
  link(rel='stylesheet' type='text/css' href='./style/header.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  script(src='./js/jquery-3.5.1.js')
  script(src='./js/main/main.js' defer='')
  script(src='/js/views/home.js' defer='')
  script(src='/js/controllers/homeController.js' defer='')
  script(src='/js/form-validators/accountValidator.js' defer='')
  include modals/alert
  include modals/confirm


  style.
    @import url("./style/timeLine.css");
    .timeline {
    height: 500px;
    width: 100%;
    overflow:auto;
    overflow-x: hidden;
    /* padding-top: 55px; */
    }
header.header
  input#menuicon(type='checkbox')
  label(for='menuicon')
    img(src='img/arrow-down.png')
  .siddebar
    nav#navbar.navbar
      nav.midnav
        ul.navTag
          li
            a.move(href='#mibox' onclick="top.location='javascript:location.reload()'") Home
          li
            a#selectli0.move(href='#box0') About
          li
            a#selectli1.move(href='#box1') TimeLine
          li
            a#selectli2.move(href='#box2') Project
          li
            a(href='/setpofol' btn-danger='' well-lg='') Admin
          
          li
            a#btn-logout.btn-logout(type='button' value='LogOut' btn-danger='' well-lg='') LogOut
#mibox.box
  #helloBlind 2&#xC870; OOO&#xC758; &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;&#xC785;&#xB2C8;&#xB2E4;
  #hello
    h1#hello-text
section#content.content
  #box0.box
    .leftDiv
      img#portrait(src='img/꺼져.jpg' alt='')
    .rightDiv
      | &#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C;
      | &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;
      | &#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C;
      | &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;
      | &#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C;
      | &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xAC04;&#xB2E8;&#xD55C; &#xC790;&#xAE30;&#xC18C;&#xAC1C; &#xB123;&#xACE0;&#xBD88;&#xB77C;&#xBD88;&#xB77C;&#xBD88;&#xB77C;
      br
      ul.language
        li(data-score='100%')
          h3 Potoshop
        li(data-score='90%')
          h3 Java
        li(data-score='70%')
          h3 JavaScript
        li(data-score='60%')
          h3 Css
        li(data-score='50%')
          h3 Html
        //
          이미지 일단주석처리
          <li class="language1">
          <img src="img/java.jpg" alt="">
          <h4>java 0%</h4>
          </li>
          <li class="language2">
          <img src="img/javascript.jpg" alt="">
          <h4>javascript 0%</h4>
          </li>
          <li class="language3">
          <img src="img/htmlcss.jpg" alt="">
          <h4>HTML, CSS 0%</h4>
          </li>
  #box1.box
    p &#xD0C0;&#xC784;&#xB77C;&#xC778;
    section.timeline
      ul
        li
          div
            time(width:='' 100px;='')
              | 2020.01.01
              br
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;1
        li
          div
            time 2020.01.02
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;2
        li
          div
            time &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0A0;&#xC9DC;3
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;3 &#xAE00;&#xC790; &#xAE38;&#xC774;&#xB294; &#xD654;&#xBA74; &#xAD6C;&#xC131;&#xC0C1; 0~50&#xC790; &#xC774;&#xB0B4;&#xB85C; &#xC81C;&#xD55C;&#xD558;&#xB294;&#xAC8C; &#xC88B;&#xC744;&#xB4EF; &#xD569;&#xB2C8;&#xB2E4; 50&#xC790;
        li
          div
            time &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0A0;&#xC9DC;4
            content
              | &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;3 &#xAE00;&#xC790; &#xAE38;&#xC774;&#xB294; &#xD654;&#xBA74; &#xAD6C;&#xC131;&#xC0C1; 3~50&#xC790; &#xC774;&#xD558;&#xB85C; &#xC81C;&#xD55C;&#xD558;&#xB294;&#xAC8C; &#xC88B;&#xC744;&#xB4EF; &#xD569;&#xB2C8;&#xB2E4; 50&#xC790;&#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;3 &#xAE00;&#xC790; &#xAE38;&#xC774;&#xB294; &#xD654;&#xBA74; &#xAD6C;&#xC131;&#xC0C1; 3~50&#xC790; &#xC774;&#xD558;&#xB85C; &#xC81C;&#xD55C;&#xD558;&#xB294;&#xAC8C; &#xC88B;&#xC744;&#xB4EF; &#xD569;&#xB2C8;&#xB2E4; 100&#xC790;
        li
          div
            time &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0A0;&#xC9DC;5
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;5
        li
          div
            time &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0A0;&#xC9DC;6
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;6
        li
          div
            time &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0A0;&#xC9DC;7
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;7
        li
          div
            time &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0A0;&#xC9DC;8
            content &#xD0C0;&#xC784;&#xB77C;&#xC778; &#xB0B4;&#xC6A9;8
  #box2.box
    .comment
      form#contact(action='' method='post')
        div
          h3 &#xBCF4;&#xB178;&#xBCF4;&#xB178;&#xC5D0;&#xAC8C; &#xBA54;&#xC77C;&#xBCF4;&#xB0B4;&#xAE30;
          h4 Tel. 000-0000-0000
          h4 Email. porori@gmail.com
        div
          fieldset
            input(placeholder='이름을 입력하세요.' style='text-align: center;' type='text' tabindex='1' required='' autofocus='')
          fieldset
            input(placeholder='이메일을 입력하세요.' style='text-align: center;' type='email' tabindex='2' required='')
          fieldset
            input(placeholder='전화번호를 입력하세요.' style='text-align: center;' type='tel' tabindex='3' required='')
          fieldset
            textarea(placeholder='메세지를 입력해주세요' style='text-align: center;' tabindex='4' required='')
          fieldset
            button#contact-submit(name='submit' type='submit' data-submit='...Sending') &#xBCF4;&#xB0B4;&#xAE30;
footer#footer.footer
  .footer-div
    p &#xC774; &#xC6F9;&#xC0AC;&#xC774;&#xD2B8;&#xB294; &#xAE40;&#xC120;&#xAE38;&#xAD70;&#xC744; &#xAC08;&#xC544;&#xB123;&#xC5B4; &#xB9CC;&#xB4E4;&#xC5C8;&#xC74D;&#xB2C8;&#xB2E4;.
    p
      | presented by 
      a(href='#mibox') ZAIA
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
