<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포트폴리오 관리 페이지</title>
</head>
<body>
    <header>
        <h3>포트폴리오 웹페이지 관리</h3>
    </header>
    <section>
        <div class="portfolioset-form">
            <form method="post" id="pofolset">
                <input type="file" id="myphoto" name="myphoto" accept="image/png, image/jpeg, image/gif">
                <br>
                <input type="checkbox" name="comlang" value="java"> Java <br>
                <input type="checkbox" name="comlang" value="c"> C <br>
                <input type="checkbox" name="comlang" value="html"> HTML <br>
                <input type="checkbox" name="comlang" value="nodejs"> NodeJS <br>

                <input type="textbox" id="mycoment" name="mycoment" placeholder="자기소개"> <br>

                <input type="submit"> <input type="reset">
            </form>
        </div>
    </section>
    
</body>
</html>